.container{
    display: flex;
    justify-content: center;
    height: 50em;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15em;
}

.container p{
    margin-bottom: 2em;
    text-align: center;
}

.containerServices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(80% - 10px);

}

.containerServices div{
    width: 30em;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1em;
    border-radius: 5px;
    background-color: rgb(81, 87, 95);
    color: white;
    padding: 13px;
    margin-top: 1em;
    flex-direction: column;
}


.serviceContent{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

.serviceContent p{
    width: 20em;
    margin-left: 1em;
}

.serviceContent i{
    font-size: 3.5em;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}

/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */


 .dark{
    display: flex;
    justify-content: center;
    height: 50em;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15em;
    color: white;
}

.dark p{
    margin-bottom: 2em;
    text-align: center;
}

.dark1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(80% - 10px);

}

.dark1 div{
    width: 30em;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1em;
    border-radius: 5px;
    background-color: rgb(211, 212, 213);
    color: black;
    padding: 13px;
    margin-top: 1em;
    flex-direction: column;
}


.dark2{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

.dark2 p{
    width: 20em;
    margin-left: 1em;
}

.dark2 i{
    font-size: 3.5em;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

/*
 * ----------------------------------------
 * RESPONSIVE
 * ----------------------------------------
 */

 @media (max-width: 391px) {
    .container{
        margin-top: -35em;
    }

   
    .serviceContent p{
        display: none;
    }

    .containerServices{
        width: calc(110% - 20px);
    }

    .containerServices div{
        width: 8em;
        height: 8em;
        border-radius: 100px;
    }

    .containerServices h5{
        font-size: 15px;
        text-align: center;
        margin-top: 9px;
    }

    .serviceContent i{
        font-size: 2em;
        margin-top: -0.8em;
    }

    /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
        margin-top: -35em;
    }

    .dark2 p{
        display: none;
    }

    .dark1{
        width: calc(110% - 20px);
    }

    .dark1 div{
        width: 8em;
        height: 8em;
        border-radius: 100px;
    }

    .dark1 h5{
        font-size: 15px;
        text-align: center;
        margin-top: 9px;
    }

    .dark2 i{
        font-size: 2em;
        margin-top: -0.8em;
    }

 }
 @media (min-width: 391px) and (max-width: 768px) {
   /* Estilos para pantallas con ancho máximo de 768px */
   .container{
    margin-top: -35em;
    }

    .serviceContent p{
        display: none;
    }

    .containerServices{
        width: calc(110% - 20px);
    }

    .containerServices div{
        width: 8em;
        height: 8em;
        border-radius: 100px;
    }

    .containerServices h5{
        font-size: 15px;
        text-align: center;
        margin-top: 9px;
    }

    .serviceContent i{
        font-size: 2em;
        margin-top: -0.8em;
    }

    /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
        margin-top: -35em;
    }

    .dark2 p{
        display: none;
    }

    .dark1{
        width: calc(110% - 20px);
    }

    .dark1 div{
        width: 8em;
        height: 8em;
        border-radius: 100px;
    }

    .dark1 h5{
        font-size: 15px;
        text-align: center;
        margin-top: 9px;
    }

    .dark2 i{
        font-size: 2em;
        margin-top: -0.8em;
    }
 }
 
 @media (min-width: 769px) and (max-width: 992px) {
   /* Estilos para pantallas con ancho entre 768px y 992px */

   .container{
        margin-top: -25em;
    }

    
    .containerServices div{
        width: 15em;
        border-radius: 150px;
    }

    .containerServices h5{
        margin-top: 1em;
        width: 8em;
        text-align: center;
    }

    .serviceContent p{
        width: 16em;
        display: none;
    }

    .serviceContent i{
        height: max-content;
    }
    /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
        margin-top: -25em;
    }

    .dark1 div{
        width: 15em;
        border-radius: 150px;

    }

    .dark1 h5{
        margin-top: 1em;
        width: 8em;
        text-align: center;
    }

    .dark2 p{
        width: 16em;
        display: none;

    }

    .dark2 i{
        height: max-content;
    }
 }

 @media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para pantallas con ancho entre 768px y 992px */
    .container{
        margin-top: 5em;
    }

    .containerServices div{
        width: 22.5em;
    }

    .serviceContent p{
        width: 16em;
    }

    .serviceContent i{
        height: max-content;
    }
    /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
        margin-top: 5em;
    }

    .dark1 div{
        width: 22.5em;
    }

    .dark2 p{
        width: 16em;
    }

    .dark2 i{
        height: max-content;
    }
}
 
 @media (min-width: 1200px) and (max-width: 1500px){
   /* Estilos para pantallas con ancho mínimo de 992px */
    .container{
        margin-top: 4em;
    }

    .containerServices div{
        width: 26em;
    }
    
    /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
        margin-top: 4em;
    }

    .dark1 div{
        width: 26em;
    }
 }
 