.container {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
  padding: 50px 0px;
}

.containerSon {
  display: flex;
}

.benefit {
  width: 20em;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  height: 36.5em;
}

.benefit2 {
  width: 20em;
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 2em;
  height: 36.5em;
  justify-content: space-around;
  margin-top: 3em;
}

.benefit2 div {
  text-align: center;
  height: 16em;
  align-items: center;
  background-color: rgb(81, 87, 95);
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15em;
  margin-left: 5em;
}

.info p {
  width: 43em;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.info h4 {
  border-bottom: 2px solid gray;
  width: 5.5em;
}

.button {
  width: 15em;
}

.benefitContent {
  flex-direction: column;
  text-align: center;
  height: 16em;
  align-items: center;
  background-color: rgb(81, 87, 95);
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.benefitContent p {
  font-size: 17px;
}

.benefitContent i {
  font-size: 3.5em;
}

/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

.dark {
  display: flex;
  flex-direction: row;
  height: 35em;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
  margin-top: 4em;
}

.dark1 {
  display: flex;
}

.dark2 {
  width: 20em;
  display: flex;
  color: rgb(3, 3, 3);
  flex-direction: column;
  justify-content: space-around;
  height: 36.5em;
}

.dark4 {
  width: 20em;
  display: flex;
  color: rgb(0, 0, 0);
  flex-direction: column;
  margin-left: 2em;
  height: 36.5em;
  justify-content: space-around;
  margin-top: 3em;
}

.dark4 div {
  text-align: center;
  height: 16em;
  align-items: center;
  background-color: rgb(211, 212, 213);
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.dark5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15em;
  margin-left: 5em;
  color: white;
}

.dark5 p {
  width: 43em;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.dark5 h4 {
  border-bottom: 2px solid white;
  width: 5.5em;
}

.dark6 {
  width: 15em;
  background-color: rgb(211, 212, 213);
  color: black;
}

.dark6:hover {
  background-color: black;
  color: white;
}

.dark3 {
  flex-direction: column;
  text-align: center;
  height: 16em;
  align-items: center;
  background-color: rgb(211, 212, 213);
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.dark3 p {
  font-size: 17px;
}

.dark3 i {
  font-size: 3.5em;
}

/*
 * ----------------------------------------
 * RESPONSIVE
 * ----------------------------------------
 */

@media (max-width: 391px) {
  .container {
    flex-direction: column-reverse;
    height: max-content;
  }

  .containerSon {
    transform: scale(0.5);
    margin-top: -3em;
  }

  .info p {
    width: auto;
    font-size: 1em;
  }
  .benefitContent p {
    font-size: 30px;
  }

  .info {
    margin-left: 0;
    padding: 5px;
    text-align: center;
  }

  .info h1 {
    font-size: 1.5em;
  }

  .button {
    display: none;
  }

  /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

  .dark {
    flex-direction: column-reverse;
    height: max-content;
  }

  .dark1 {
    transform: scale(0.5);
    margin-top: -3em;
  }

  .dark3 p {
    font-size: 30px;
  }

  .dark5 p {
    width: auto;
    font-size: 1em;
  }

  .dark5 h1 {
    font-size: 1.5em;
  }

  .dark5 {
    margin-left: 0;
    padding: 5px;
    text-align: center;
  }

  .dark6 {
    display: none;
  }
}
@media (min-width: 392px) and (max-width: 630px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .container {
    flex-direction: column-reverse;
    height: max-content;
  }

  .containerSon {
    transform: scale(0.6);
    margin-top: -3em;
  }

  .info p {
    width: auto;
  }

  .info {
    margin-left: 0;
    padding: 5px;
    text-align: center;
  }

  .benefitContent p {
    font-size: 30px;
  }

  .button {
    display: none;
  }

  /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

  .dark {
    flex-direction: column-reverse;
    height: max-content;
  }

  .dark1 {
    transform: scale(0.6);
    margin-top: -3em;
  }

  .dark3 p {
    font-size: 30px;
  }

  .dark5 p {
    width: auto;
  }

  .dark5 {
    margin-left: 0;
    padding: 5px;
    text-align: center;
  }

  .dark6 {
    display: none;
  }
}

@media (min-width: 631px) and (max-width: 1140px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .container {
    flex-direction: column-reverse;
    height: max-content;
  }

  .containerSon {
    margin-top: -1em;
    transform: scale(0.9);
  }

  .info p {
    width: auto;
  }

  .info {
    margin-left: 10px;
    padding: 5px;
    text-align: center;
  }

  .benefitContent p {
    font-size: 30px;
  }

  .button {
    display: none;
  }

  /**
* ----------------------------------------
* DARK MODE
* ----------------------------------------
*/

  .dark {
    flex-direction: column-reverse;
    height: max-content;
  }

  .dark1 {
    transform: scale(0.9);
    margin-top: -3em;
  }

  .dark3 p {
    font-size: 30px;
  }

  .dark5 p {
    width: auto;
  }

  .dark5 {
    margin-left: 0;
    padding: 5px;
    text-align: center;
  }

  .dark6 {
    display: none;
  }
}

@media (min-width: 1141px) and (max-width: 1500px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
  .containerSon {
    transform: scale(0.9);
    justify-content: space-around;
  }

  .info {
    margin-left: 0;
    margin-top: -10em;
  }

  .info p {
    width: auto;
  }

  /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

  .dark1 {
    transform: scale(0.9);
    justify-content: space-around;
  }

  .dark5 {
    margin-left: 0;
    margin-top: -10em;
  }

  .dark5 p {
    width: auto;
  }
}
