.container{
    height: 95em;
    background-color: rgb(81, 87, 95);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerSon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerSon2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerSon img{
    width: 30em;
    border-radius: 20px;
}

.containerSon2 img{
    width: 30em;
    border-radius: 20px;
    height: 18em
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
    margin-left: 5em;
    color: white;
    
}
.info2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3em;
    color: white;
    
}

.info2 h3{
    border-bottom: 2px solid white;
    width: max-content;
    margin-bottom: 1em;
}

.info2 p{
    width: 43em;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.info h3{
    border-bottom: 2px solid white;
    width: max-content;
    margin-bottom: 1em;
}
.info p{
    width: 43em;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.step1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 35em;
}

.step1 p{
    margin-top: -12px;
}


/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

 .dark{
    height: 95em;
    background-color: rgb(20, 20, 20);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
