.container{
    height: 95em;
    background-color: rgb(81, 87, 95);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titleProcess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -4em;
}

.titleProcess h1{
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.containerSon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerSon2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerSon img{
    width: 30em;
    border-radius: 20px;
}

.containerSon2 img{
    width: 30em;
    border-radius: 20px;
    height: 18em
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
    margin-left: 5em;
    color: white;
    
}

.info2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3em;
    color: white;
}


.info2 h3{
    border-bottom: 2px solid white;
    width: max-content;
    margin-bottom: 1em;
}

.info2 p{
    width: 43em;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.info h3{
    border-bottom: 2px solid white;
    width: max-content;
    margin-bottom: 1em;
}

.info p{
    width: 43em;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.info3 h3{
    border-bottom: 2px solid white;
    width: max-content;
    margin-bottom: 1em;
}

.info3 p{
    width: 43em;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.info3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
    margin-left: 5em;
    color: white;
    margin-top: -3em;
}

.imgInfo3{
    width: 30em;
    border-radius: 20px;
    margin-top: -3em;
}

.step1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 35em;
}

.step1 p{
    margin-top: -12px;
}


/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

 .dark{
    height: 95em;
    background-color: rgb(20, 20, 20);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
 * ----------------------------------------
 * RESPONSIVE
 * ----------------------------------------
 */

 @media (max-width: 391px) {
    .container{
        height: 124em;
        align-items: center;
        margin-bottom: 30em;
    }    
    
    .containerSon{
        flex-direction: column;
        align-items: center;
    }

    .containerSon2{
        flex-direction: column-reverse;
        align-items: center;
    }

    .containerSon img{
        transform: scale(0.7);
        margin-top: -5em;

    }

    .containerSon2 img{
        transform: scale(0.7);
        margin-top: -8em;
    }

    .info{
        margin-left: 0;
        margin-top: -2em;
        margin-bottom: 11em;
        transform: scale(0.9);
    }

   .step1{
        width: 24em;
   }

    
    .info2{
        margin-top: -2.5em;
        margin-bottom: -5em;
        margin-right: 0;
        transform: scale(0.9);
    }

    .info2 h3{
        width: 15em;
    }

    .info3{
        margin-left: 0;
        margin-top: -3em;
        transform: scale(0.9);
    }

    .info3 h3{
        width: 17em;
    }

    .imgInfo3{
        margin-top: -10em;
    }

    .titleProcess{
        margin-top: -4em;
    }

    .titleProcess h1{
        font-size: 1.8em;
        width: 100%;
    }
    
    /*
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
        height: 124em;
        align-items: center;
        margin-bottom: 30em;
    }    
        
 }
 @media (min-width: 391px) and (max-width: 530px) {
   /* Estilos para pantallas con ancho máximo de 768px */
   .container{
    height: 124em;
    align-items: center;
    margin-bottom: 30em;
    }    

    .containerSon{
        flex-direction: column;
        align-items: center;
    }

    .containerSon2{
        flex-direction: column-reverse;
        align-items: center;
    }

    .containerSon img{
        transform: scale(0.7);
        margin-top: -5em;

    }

    .containerSon2 img{
        transform: scale(0.7);
        margin-top: -8em;
    }

    .info{
        margin-left: 0;
        margin-top: -2em;
        margin-bottom: 11em;
        transform: scale(0.9);
    }

    .step1{
        width: 24em;
    }


    .info2{
        margin-top: -2.5em;
        margin-bottom: -5em;
        margin-right: 0;
        transform: scale(0.9);
    }

    .info2 h3{
        width: 15em;
    }

    .info3{
        margin-left: 0;
        margin-top: -3em;
        transform: scale(0.9);
    }

    .info3 h3{
        width: 17em;
    }

    .imgInfo3{
        margin-top: -10em;
    }

    .titleProcess{
        margin-top: -4em;
    }
      /*
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
        height: 124em;
        align-items: center;
        margin-bottom: 30em;
    }   
 }

 
 @media(min-width: 531px) and (max-width: 991px){
    .container{
        height: 130em;
        align-items: center;
        margin-bottom: 30em;
        }    
    
        .containerSon{
            flex-direction: column;
            align-items: center;
        }
    
        .containerSon2{
            flex-direction: column-reverse;
            align-items: center;
        }
    
        .containerSon img{
            transform: scale(0.85);
            margin-top: -4em;
    
        }
    
        .containerSon2 img{
            transform: scale(0.85);
            margin-top: -8em;
        }
    
        .info{
            margin-left: 0;
            margin-top: -2em;
            margin-bottom: 11em;
            transform: scale(0.95);
        }
    
        .step1{
            width: 28em;
        }
    
    
        .info2{
            margin-top: -2.5em;
            margin-bottom: -5em;
            margin-right: 0;
            transform: scale(0.9);
        }
    
        .info2 h3{
            width: 15em;
        }
    
        .info3{
            margin-left: 0;
            margin-top: -3em;
            transform: scale(0.9);
        }
    
        .info3 h3{
            width: 17em;
        }
    
        .imgInfo3{
            margin-top: -10em;
            margin-bottom: 1em;
        }
    
        .titleProcess{
            margin-top: -4em;
        }
          /*
        * ----------------------------------------
        * DARK MODE
        * ----------------------------------------
        */
    
        .dark{
            height: 124em;
            align-items: center;
            margin-bottom: 30em;
        }   
    
 }
 @media (min-width: 992px) and (max-width: 1200px) {
   /* Estilos para pantallas con ancho entre 768px y 992px */
    .containerSon2{
        margin-top: 8em;
    }
   
    .containerSon img{
        margin-left: 9em;
    }
    
    .containerSon2 img{
        margin-left: -8em;
    }

    .info{
        margin-left: 3em;
    }


   .info p{
        width: 25em;
        margin-right: 10em;
    }

    .info2{
        margin-left: 0;
        margin-right: 0;
    }

    .info2 h3{
        width: 15em;
    }

    .info2 p{
        width: 25em;
        margin-right: 10em;
    }

    .info3{
        margin-left: 1em;
    }

    .info3 h3{
        width: 17em;
    }

    .info3 p{
        width: 25em;
        margin-right: 10em;
    }
   
 }
 
 @media (min-width: 1200px) and (max-width: 1500px){
   /* Estilos para pantallas con ancho mínimo de 992px */
   
 }
 