.container {
    position: relative;
    z-index: 9999;
    width: 100%;
  }
  
  .button {
    position: fixed; 
    z-index: 9999;
    right: 15px;
    bottom: 5%;
  }
  
  .upArrow{
    position: fixed; 
    z-index: 9999;
    right: 85px;
    bottom: 5%;
  }

  .upArrow i{
    font-size: 2em;
  }

  .button i {
    font-size: 1.5em;
  }
  
  .custom-toast-body {
    color: rgb(7, 152, 12);
    height: 2em !important;
    font-weight: bold;
  }
  
  .custom-toast {
    width: 18em;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 30px !important;
    position: fixed;
    right: 70px;
    bottom: 15px;
  }
  
  .visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }
