.container{
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(81, 87, 95);
    z-index: 9999;

}


.divided{
    margin-left: 10em;
    padding: 25px;
    
}

.divided h1{
    text-align: start;
    margin-left: 0.7em;
}

.divided p{
    margin-bottom: 2em;
    margin-left: 1.9em;
    
}

.title{
    height: 10em;
    background-color: white;
    display: flex;
    margin-top: -12em;
    border: 2px solid gray;
    align-items: center;
    width: 90em;
    justify-content: center;
    flex-direction: column;
}

.formContent{
    background-color: white;
    height: 35em;
    align-items: start;
    display: flex;
    width: 90em;
    padding: 20px;
    border-radius: 5px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-left: 29px;
    margin-bottom: 25px;
}

.formContainer input{
    width: 230px;
    height: 22px;
    background-color: rgb(222, 222, 222);
}

.formMessage textarea{
    height: 100px;
    background-color: rgb(222, 222, 222);


}

.formFather{
    display: flex;
    flex-direction: row;

}

.formMessage{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.formMessage input{
    height: 200px;
}

.infoForm{
    padding: 25px;
 
}

.send{
    padding: 10px;
    width: 10em;
    margin-left: 2em;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(81, 87, 95);  
}

.icon{
    font-size: 3em;
    background-color: rgb(222, 222, 222);
    padding: 15px;
    border-radius: 5px;
    margin-top: 1em;
}

.iconDiv{
    display: flex;
    align-items: center;
}

.infoDiv{
    margin-left: 2em;
    margin-top: 3em;
}