.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 8em;

}


/* LOADER*/

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    margin-left: 8em;
    color: #363636;
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    background:
      linear-gradient(currentColor 0 0) center,
      linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px,10px 100%;
    background-repeat: no-repeat;
  }
  .loader::after {
     transform: rotate(45deg);
  }
  
  @keyframes l19 { 
    100%{transform: rotate(1turn)}
  }


.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    align-items: flex-start;
    

}

.service{
    position: relative;
    height: 25em;
    border: 1px solid black;
    margin-top: 5em;
    margin-left: 10px;
    border-radius: 10px;
    width: calc(45% - 480px);
    background-color: white;
    padding: 15px;
    margin: 10px;
  }

  
 
.modal{
  z-index: 9999;
  
}

.service img{
  width: 8em;
}

.service h3{
    height: 3em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    padding: 10px;

}

.service p{
    text-align: justify;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    height: 5em;
}

.modalText{
  text-align: justify;
  height: 26em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modalText img{
  width: 20em;
}



/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

 .dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    margin-bottom: 8em;
    background-color: rgba(0, 0, 0, 0.87);



}

.dark1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  align-items: flex-start;

}

.dark2{
  position: relative;
    height: 25em;
    border: 1px solid white;
    margin-top: 5em;
    margin-left: 10px;
    border-radius: 10px;
    width: calc(45% - 480px);
    background-color: rgb(96, 96, 96);
    padding: 15px;
    margin: 10px;
    
}

.dark2 img{
  width: 8em;
}

.dark2 h3{
  height: 3em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  padding: 10px;
}

.dark2 p{
  text-align: justify;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 10px;


}

/* LOADER*/

.dark3 {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    margin-left: 8em;
    color: #ffffff;
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
  }
  .dark3::before,
  .dark3::after {    
    content: "";
    grid-area: 1/1;
    background:
      linear-gradient(currentColor 0 0) center,
      linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px,10px 100%;
    background-repeat: no-repeat;
  }
  .dark3::after {
     transform: rotate(45deg);
  }
  
  @keyframes l19 { 
    100%{transform: rotate(1turn)}
  }

  .dark4{
    color: black;
    background: black;
  }


  @media (max-width: 448px) {
    .container{
      
      display: none;
    }

    

  

  /**
  * ----------------------------------------
  * DARK MODE
  * ----------------------------------------
  */

  .dark{
   
  }

  .dark1{
   
  }

  .dark2{
   

  }

  .dark2 p{
   
  }

  
    
  }

  @media (min-width: 448px) and (max-width: 768px) {
    /* Estilos para pantallas con ancho máximo de 768px */
    .container{
      display: none;
    }


   

    
  
    /**  * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */
  
    .dark{
      
    }

    .dark1{
   

      
    }

    .dark2{
     

    }

    .dark2 p{
      
    }

    
  }

  @media (min-width: 769px) and (max-width: 992px) {
    /* Estilos para pantallas con ancho entre 768px y 992px */
.container{
  display: none;
}
   

   

    /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
     
    
    }

    .dark1{
     
         
        
    }

    .dark2 p{
      
    }
  }

  @media (min-width: 992px) and (max-width: 1500px){
    /* Estilos para pantallas con ancho mínimo de 992px */

    .container{
      display: none;
    }

    .info{
      
      
    }

     /**
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

    .dark{
      
    }

    .dark1{
      
      
    }
  }