.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-bottom: 10em;

}

.service{
    width: 20em;
    height: 23em;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
}

.service h3{
    background-color: rgb(71, 71, 71);
    height: 3em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.service p{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 15em;
}



/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

 .dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;


}

.dark1{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-bottom: 10em;

}

.dark2{
    width: 20em;
    height: 23em;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
}

.dark2 h3{
    background-color: rgb(211, 212, 213);
    height: 3em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
}

.dark2 p{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 15em;
}