.nav{
    display: flex;
    height: 10em;
    
}

.nav img{
    transform: scale(0.5);
    margin-top: -30px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.buttons button{
    margin-left: 3em;
    padding: 15px;

}
.nav a{
    color: rgb(0, 0, 0);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title img{
    width: 13.5em;
}

.title h1{
    margin-left: -1em;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-top: -0.5em;
    font-size: 3.5em;
}