.nav{
    display: flex;
    height: 9em;
}

.nav img{
    transform: scale(0.5);
    margin-top: -30px;
}

.containerButtons{
    display: flex;
    width: 100%;
    margin-left: 48em;
}

.buttons{
    display: flex;
    
}
.buttons button{
    margin-left: 3em;
    padding: 15px;
    
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title img{
    width: 13.5em;
}

.title h1{
    margin-left: -1em;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-top: -0.5em;
    font-size: 3.5em;
}


/*
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */
 
.dark{
    display: flex;
    height: 9em;
    background-color: rgb(20, 20, 20);
}

.dark img{
    transform: scale(0.5);
    margin-top: -30px;
}

.dark1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dark1 img{
    width: 13.5em;
}

.dark1 h1{
    margin-left: -1em;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin-top: -0.5em;
    font-size: 3.5em;
}

.dark button{
    margin-left: 3em;
    padding: 15px;
    background-color: rgb(20, 20, 20);
    color: white;
}

/*
 * ----------------------------------------
 * RESPONSIVE
 * ----------------------------------------
 */

@media (max-width: 391px) {
  .title{
    transform: scale(0.6);
    margin-left: -7em;
  }

  .containerButtons{
    margin-left: 4em;
  }

/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

  .dark1{
    transform: scale(0.6);
    margin-left: -7em;
  }

  .dark2{
    margin-left: 4em;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .title{
    transform: scale(0.6);
    margin-left: -7em;
  }

  .containerButtons{
    margin-left: 4em;
  }
  
 

  /**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

  
  .dark1{
    transform: scale(0.6);
    margin-left: -7em;
  }

  .dark2{
    margin-left: 4em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) and (max-width: 1500px){
  /* Estilos para pantallas con ancho mínimo de 992px */
  .containerButtons{
    margin-left: 17em;
  }
}


