.nav{
  display: flex;
  height: 9em;
  justify-content: center;
  align-items: center;

}

.nav img{
    transform: scale(0.5);
    margin-top: -30px;
}

.containerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerButtons {
  position: absolute;
  right: 2%
}



.buttons{
    display: flex;
    
}
.buttons button{
    margin-left: 2em;
    padding: 15px;
    z-index: 9999;
    
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title img{
    width: 10em;
}

.title h1{
    margin-left: -1em;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-top: -0.5em;
}


/*
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */
 
.dark{
    display: flex;
    height: 9em;
    background-color: rgb(20, 20, 20);
}

.dark img{
    transform: scale(0.5);
    margin-top: -30px;
}

.dark1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dark1 img{
    width: 10em;
    background-color: white;
    clip-path: circle(40%);
}

.dark1 h1{
    margin-left: -1em;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin-top: -0.5em;
}


.dark button{
    margin-left: 2em;
    padding: 15px;
    background-color: rgb(20, 20, 20);
    color: white;
}

/*
 * ----------------------------------------
 * RESPONSIVE
 * ----------------------------------------
 */

@media (max-width: 391px) {
  .title{
    transform: scale(0.55);
    width: 10em;

  }

  .title h1{
    font-size: 3em;
  }

  .title img{
    font-size: 1em;
  }

  .containerButtons{
    width: 100%;
    z-index: 9999;
    top: 100%;
    background-color: rgba(165, 164, 164, 0.5);
    padding: 6px;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    right: 0;
    

  }

  .buttons button{
    background-color: rgba(12, 12, 12, 0.5);
    border: none;
    color: rgb(255, 255, 255);
    width: 7em;
    margin-left: 5em;
  

  }


  .darkMode{
    width: 4em !important;
    border-radius: 50px;

  }
  
/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

 .dark button{
  color: rgb(255, 255, 255);
  border: none;
 }
 
 .dark1{
   transform: scale(0.55);
   width: 10em;

 }

 .dark1 h1{
  font-size: 3em;
}

.dark1 img{
  font-size: 1.1em;
}

  .dark2{
    background-color: white !important;
    height: 2em;
    width: 2.8em;
  }

  .dark2 span{
      margin-left: -2px;
      margin-top: -15px;

  }  

  
  

  
}
@media (min-width: 392px) and (max-width: 550px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .title{
    transform: scale(0.6);
    margin-left: -7em;
  }
  
  .title h1{
    font-size: 3em;
  }

  .title img{
    font-size: 1.1em;
  }

  .containerButtons{
    width: 23em;
    z-index: 9999;
    top: 100%;
    background-color: rgba(165, 164, 164, 0.5);
    padding: 6px;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    position: absolute;
    right: 0;
    

  }

  .buttons button{
    background-color: rgba(12, 12, 12, 0.5);
    border: none;
    color: white;
    width: 7em;
    margin-left: 5em;

  }

  .darkMode{
    width: 4em !important;
    border-radius: 50px;

  }
 

  /**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

  
  .dark1{
    transform: scale(0.6);
    margin-left: -7em;
  }

  .dark1 h1{
    font-size: 3em;
  }

  .dark1 img{
    font-size: 1.1em;
  }

    .dark2{
    background-color: white !important;
    height: 2em;
    width: 2.8em;
  }

  .dark2 span{
      margin-left: -2px;
      margin-top: -15px;

  }  

}

@media (min-width: 550px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */

  .title{
    transform: scale(0.6);
    margin-left: -5em;
  }

  .title h1{
    font-size: 3em;
  }

  .title img{
    font-size: 1.1em;
  }
  .containerButtons{
    width: 23em;
    z-index: 9999;
    top: 100%;
    background-color: rgba(165, 164, 164, 0.5);
    padding: 6px;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    right: 0;
    

  }

  .buttons{
    position: relative;
    right: 5%;
  }
  .buttons button{
    background-color: rgba(12, 12, 12, 0.5);
    border: none;
    color: white;
    width: 7em;
    margin-left: 5em;

  }

  .darkMode{
    width: 4em !important;
    border-radius: 50px;

  }
 

  /**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

  
  .dark1{
    transform: scale(0.6);
    margin-left: -5em;
  }

  .dark1 h1{
    font-size: 3em;
  }

  .dark1 img{
    font-size: 1.1em;
  }

    .dark2{
    background-color: white !important;
    height: 2em;
    width: 2.8em;
  }

  .dark2 span{
      margin-left: -2px;
      margin-top: -15px;

  }  
}

@media (min-width: 992px) and (max-width: 1500px){
  /* Estilos para pantallas con ancho mínimo de 992px */
 
  
  .buttons button{
    margin-left: 10px;
  }
  
  .containerButtons{
    margin-left: 15em;
   
  }
}


