.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  width: 100%;
}

.title {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.title img {
  width: 5em;
  margin-top: -10px;
  clip-path: circle(40%);
  background-color: white;
}

.title h1 {
  color: white;
  font-size: 2.5em;
}

.social {
  color: white;
  font-weight: bold;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
  width: 90em;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.miniFooter {
  padding-top: 10px;
  color: white;
}
.icons {
  font-size: 1.5em;
}
.icon {
  font-size: 1.5em;
  margin-left: 10px;
}

.iconRedirect {
  color: white;
}

.iconRedirect1 {
  margin-right: 10px;
  color: white;
}

/**
 * ----------------------------------------
 * DARK MODE
 * ----------------------------------------
 */

.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32em;
  background-color: rgb(39, 39, 39);
  z-index: 1;
  margin-top: -22em;
}

.dark1 {
  margin-top: 5em;
}

.dark2 {
  display: flex;
  flex-direction: row;
  margin-top: 10em;
  align-items: center;
  justify-content: space-between;
  width: 90em;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.dark3 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.dark3 img {
  width: 5em;
  margin-top: -10px;
  clip-path: circle(40%);
  background-color: white;
}

.dark3 h1 {
  color: white;
  font-size: 2.5em;
}

.dark4 {
  color: white;
  font-weight: bold;
}

.dark5 {
  font-size: 1.5em;
}
.dark6 {
  font-size: 1.5em;
  margin-left: 10px;
}

.dark7 {
  padding-top: 10px;
  color: white;
}

/*
 * ----------------------------------------
 * RESPONSIVE
 * ----------------------------------------
 */

@media (max-width: 391px) {
  .titleContainer {
    flex-direction: column;
    text-align: center;
  }

  .title h1 {
    font-size: 2em;
  }

  /*
   * ----------------------------------------
   * DARK MODE
   * ----------------------------------------
   */

  .dark2 {
    flex-direction: column;
    text-align: center;
  }

  .dark3 h1 {
    font-size: 2em;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .titleContainer {
    flex-direction: column;
    text-align: center;
  }

  .title h1 {
    font-size: 2em;
  }

  /*
   * ----------------------------------------
   * DARK MODE
   * ----------------------------------------
   */

  .dark2 {
    flex-direction: column;
    text-align: center;
  }

  .dark3 h1 {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .titleContainer {
    flex-direction: column;
    text-align: center;
  }

  /*
   * ----------------------------------------
   * DARK MODE
   * ----------------------------------------
   */

  .dark2 {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1500px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
  .titleContainer {
    width: 100%;
    justify-content: space-between;
  }
  .sonContainer {
    width: 95%;
  }

  /*
    * ----------------------------------------
    * DARK MODE
    * ----------------------------------------
    */

  .dark2 {
    width: 100%;
    justify-content: space-between;
  }
  .dark1 {
    width: 95%;
  }
}
