@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-text-size-adjust: 100%;
  --primary-color: #333;
  --secondary-color: rgb(81, 87, 95);
  --hover-color: rgb(62, 63, 65);

  
}

button {
  background-color: var(--secondary-color );
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
}

button:hover {
  background-color: var(--hover-color);
}
